<!-- begin #content -->
<div class="content">
  <div class="spinner-area" v-if="uploading===true">
    <i class="fas fa-spinner fa-spin fa-4x"></i>
  </div>
  <form action="/" method="POST" @submit.prevent="createCampaign">
    <!-- begin row -->
    <div class="row">
      <!-- begin col-8 -->
      <div class="wd-wrap">
        <div class="wd-form__wrapper">
          <legend class="wd-form__header">Create Campaign</legend>
          <transition name="fade">
            <div class="alert alert-success" v-if="status === 'ok'">
              {{ message }}
              <router-link tag="a" to="/form">
                <span>here</span>
              </router-link>.
            </div>
            <div class="alert alert-danger" v-if="status === 'error'">
              {{ error }}
            </div>
          </transition>
          <div class="form-group">
            <label>Client Name</label>
            <input type="text" class="form-control" readonly v-model="clientName" />
          </div>
          <div class="form-group" :class="{'has-error': !campaignNameValidated}">
            <label>Campaign Name*</label>
            <input type="text" maxlength="100" class="form-control" v-model="campaignName" @change="campaignNameValidated=true" />
          </div>
          <div class="form-group">
            <label>Type</label>
            <select class="form-control mb-0" v-model="type">
              <option value="person">Person</option>
              <option value="product">Product</option>
              <option value="brand">Company / Brand</option>
            </select>
          </div>
          <div class="form-group" :class="{'has-error': !descriptionValidated}">
            <label>Description</label>
            <div class="helper-text">Provide a detailed description below. Include information about your products, services, competitors, and unique
              traits. The more category-specific language you use, the better.</div>
            <a href="#campaign_information_modal" class="information-link" data-toggle="modal">What information should I add?</a>
            <textarea class="form-control" v-model="description" rows="8" @change="descriptionValidated=true"></textarea>
          </div>
        </div>
        <nav class="wd-form__footer text-center">
          <button type="submit" class="btn btn-primary btn-dark width-150">Create</button>
        </nav>
      </div>
      <!-- end col-8 -->
    </div>
    <!-- end row -->
  </form>

  <!-- Information modal -->
  <div class="modal" id="campaign_information_modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title pull-left">Campaign Information</h4>
          <button type="button" class="close pull-right" data-dismiss="modal" aria-hidden="true">×</button>
        </div>
        <div class="modal-body">
          <ul class="information-list">
            <li>
              A campaign is a promotional activity that promotes a product or service. To begin setting one up for success, we recommend
              you create two custom matches to kickoff your campaign process.
            </li>
            <li>
              Create a product match: this match type identifies leads on your list who are likely to highly correlate with you product,
              so you have a prioritized list of people to target. In the description provide some or all of the following:
            </li>
            <li>
              <ul class="information-sub-list">
                <li>Product description, including the value proposition and benefits</li>
                <li>Competitor products</li>
              </ul>
            </li>
            <li>Create a people match: this match type allows us to get to know your leads, to begin forming a "sticky" messaging
              strategy. In the description provide some or all of the following for approximately 20 customers:</li>
            <li>
              <ul class="information-sub-list">
                <li>Current customer job titles</li>
                <li>Current customer industries</li>
                <li>Current customer job functions</li>
                <li>Current customer LinkedIn in profile links</li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="modal-footer">
          <a href="javascript:;" class="btn btn-white" data-dismiss="modal">Close</a>
        </div>
      </div>
    </div>
  </div>
  <!-- End information modal -->
</div>
<!-- end #content -->
