.fade-enter-active, .fade-leave-active {
  transition: opacity 1s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.helper-text {
  opacity: .7;
}

.modal-header {
  display: block;
}

.modal-header .close {
  margin-top: 0;
  line-height: 0px;
}

.information-list {
  list-style: none;
  padding-left: 10px;
}

.information-list li {
  padding-bottom: 10px;
}

.information-list .information-sub-list li {
  padding-bottom: 5px;
}