<!-- begin #content -->
<div id="content" class="content">
    <!-- begin breadcrumb -->
    <!-- <ol class="breadcrumb pull-right">
      <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
      <li class="breadcrumb-item"><a href="javascript:;">Dashboard</a></li>
      <li class="breadcrumb-item active">Dashboard v2</li>
    </ol> -->
    <!-- end breadcrumb -->
    <!-- begin page-header -->

        <!-- begin profile -->
    <div class="profile">
      <transition name="fade">
        <div class="alert alert-danger" v-if="errorMsg !== ''">
          {{ errorMsg }}
        </div>
      </transition>
      <div class="profile-header">
        <!-- BEGIN profile-header-cover -->
        <div class="profile-header-cover"></div>
        <!-- END profile-header-cover -->
        <!-- BEGIN profile-header-content -->
        <div class="profile-header-content">
          <!-- BEGIN profile-header-img -->
          <i class="fa fa-user fa-4x"></i>
          <!-- END profile-header-info -->
        </div>
        <!-- END profile-header-content -->
        <!-- BEGIN profile-header-tab -->
        <ul class="profile-header-tab nav nav-tabs">
          <li class="nav-item"><a href="#profile-about" class="nav-link active" data-toggle="tab">PROFILE</a></li>
        </ul>
        <!-- END profile-header-tab -->
      </div>
    </div>
    <!-- end profile -->

    <!-- begin profile-content -->
    <div class="profile-content">
      <!-- begin tab-content -->
      <div class="tab-content p-0">
        <!-- begin #profile-about tab -->
        <div class="tab-pane fade show active" id="profile-about">
          <!-- begin table -->
          <div class="table-responsive">
            <table class="table table-profile">
              <!-- <thead>
                <tr>
                  <th>
                    <h4>Micheal Meyer <small>Lorraine Stokes</small></h4>
                  </th>
                </tr>
              </thead> -->
              <tbody v-if="isFetching">
                <tr><td>Loading...</td></tr>
              </tbody>
              <tbody v-if="!isFetching">
                <tr>
                  <td class="field">First Name</td>
                  <td>{{firstName}}</td>
                </tr>
                <tr>
                  <td class="field">Last Name</td>
                  <td>{{lastName}}</td>
                </tr>
                <tr>
                  <td class="field">Company</td>
                  <td>{{company}}</td>
                </tr>
                <tr>
                  <td class="field">Client ID</td>
                  <td>{{ clientId }}</td>
                </tr>
                <tr>
                  <td class="field">Phone Number</td>
                  <td>{{phone}}</td>
                </tr>
                <tr>
                  <td class="field">Email address</td>
                  <td>{{email}}</td>
                </tr>

                <tr class="highlight highlight--btn">
                  <td class="field">&nbsp;</td>
                  <td class="p-t-10 p-b-10">
                    <!-- <button type="submit" class="btn btn-primary btn-dark width-150">Update</button>
                    <button type="submit" class="btn btn-white btn-light width-150 m-l-5">Cancel</button> -->
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- end table -->
        </div>
        <!-- end #profile-about tab -->
       
      </div>
      <!-- end tab-content -->
    </div>
    <!-- end profile-content -->

  </div>
