<div>
  <div class="register register-with-news-feed">
    <!-- begin news-feed -->
    <div class="news-feed">
        <div class="news-image" style="background-image: url(../../assets/images/bg.png)"></div>
    </div>
    <!-- end register-header -->
    <!-- begin right-content -->
    <div class="right-content">
      <!-- begin register-header -->
      <div class="register-header text-center">
        <div class="brand">
          <b>Sign Up</b>
          <p style="font-size: 16px;">Create your account to get started.</p>
        </div>
      </div>
      <!-- end register-header -->
      <!-- begin register-content -->
      <div class="register-content">
        <div class="alert alert-danger" v-if="!!error.response">
          {{ error.response }}
        </div>
        <form action="/" @submit.prevent="registerUser" v-if="step === 0">
          <div class="wd-wrap">
            <div class="wd-form__wrapper">
                <div class="wd-form__wrp">
                  <input
                    type="text"
                    placeholder="First name*"
                    v-model="userData.firstName"
                    @keydown="error.firstName = false"
                    class="wd-form__input"
                    :class="{'input-error m-b-5': !!error.firstName}"
                    />
                </div>
                <p class="invalid-feedback m-b-20 m-l-20" v-if="error.firstName">
                  {{ error.firstName }}
                </p>
                <div class="wd-form__wrp">
                  <input
                    type="text"
                    placeholder="Last name*"
                    v-model="userData.lastName"
                    @keydown="error.lastName = false"
                    class="wd-form__input"
                    :class="{'input-error m-b-5': !!error.lastName}"
                    />
                </div>
                <p class="invalid-feedback m-b-20 m-l-20" v-if="error.lastName">
                  {{ error.lastName }}
                </p>
                <div class="wd-form__wrp">
                  <input
                    type="text"
                    placeholder="Email address*"
                    v-model="userData.email"
                    @keydown="error.email = false"
                    class="wd-form__input"
                    :class="{'input-error m-b-5': !!error.email}"
                    />
                </div>
                <p class="invalid-feedback m-b-20 m-l-20" v-if="error.email">
                  {{ error.email }}
                </p>
                <div class="wd-form__wrp">
                  <input
                    type="text"
                    placeholder="Company*"
                    v-model="userData.company"
                    max="50"
                    @keydown="error.company = false"
                    class="wd-form__input"
                    :class="{'input-error m-b-5': !!error.company}"
                  />
                </div>
                <p class="invalid-feedback m-b-20 m-l-20" v-if="error.company">
                  {{ error.company }}
                </p>
                <div class="wd-form__wrp">
                  <input
                    type="password"
                    placeholder="Password*"
                    v-model="userData.password"
                    @keydown="error.password = false"
                    class="wd-form__input"
                    :class="{'input-error m-b-5': !!error.password}"
                    />
                </div>
                <p class="invalid-feedback m-b-20 m-l-20" v-if="error.password">
                  {{ error.password }}
                </p>
                <div class="wd-form__wrp">
                  <input
                    type="password"
                    placeholder="Confirm password*"
                    v-model="userData.confirmPassword"
                    @keydown="error.confirmPassword = false"
                    class="wd-form__input"
                    :class="{'input-error m-b-5': !!error.confirmPassword}"
                    />
                </div>
                <p class="invalid-feedback m-b-20 m-l-20" v-if="error.confirmPassword">
                  {{ error.confirmPassword }}
                </p>
                <div class="wd-form__wrp" :class="{ 'm-b-5': error.agree, 'm-b-20': !error.agree }">
                  <input type="checkbox" class="mr-2" id="agree" @click="error.agree = false" v-model="userData.agree" />
                  <label for="agree" class="agree-desc">
                    By clicking Sign Up, you agree to our <a href="#" @click.prevent="openWindow('TERMS')">Terms</a>
                    and that you have read our <a href="#" @click.prevent="openWindow('DATA_POLICY')">Data Policy</a>,
                    including our <a href="#" @click.prevent="openWindow('COOKIE_USE')">Cookie Use</a>.
                  </label>
                </div>
                <p class="invalid-feedback m-b-20 m-l-20" v-if="error.agree">
                  {{ error.agree }}
                </p>
                <div class="wd-form__wrp m-b-10">
                  <button type="submit" class="btn btn-default btn-register sw-btn-next wd-btn-next" :disabled="isBusy">
                    Register
                    <i class="fa fa-spinner fa-spin" v-if="isBusy"></i>
                  </button>
                </div>
              </div>
              <div class="wd-wrap m-b-30">
                <div class="wd-form__wrp">
                  <span class="center-desc">Already a member? Click
                    <router-link to="/login">
                      <a><span>here</span></a>
                    </router-link> to login.
                  </span>
                </div>
                <div class="wd-form__wrp">
                  <span class="center-desc">Enter
                    <a href="javascript:;" @click="changeStep()">
                      <span>confirmation code</span>
                    </a>.
                  </span>
                </div>
              </div>
          </div>
        </form>

        <form action="/" @submit.prevent="confirmCode" v-if="step === 1">
          <div class="wd-form__wrapper" v-if="step==1">
            <div class="wd-form__wrp m-b-10">
              <input
                type="text"
                placeholder="Confirmation Code"
                v-model="code"
                @keydown="error.code = false"
                class="wd-form__input"
                :class="{'input-error m-b-5': !!error.code}"
                />
            </div>
            <p class="invalid-feedback m-b-20 m-l-20" v-if="error.code">
              {{ error.code }}
            </p>
            <div class="wd-form__wrapper">
              <legend class="wd-form__header" style="font-size: 16px;">Thanks! Check your email for a confirmation code. It may take a few minutes to arrive.</legend>
            </div>
            <div class="wd-form__wrp m-b-10">
              <button type="submit" class="btn btn-default btn-register sw-btn-next wd-btn-next" :disabled="isBusy">
                Confirm
                <i class="fa fa-spinner fa-spin" v-if="isBusy"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
      <!-- end register-content -->
    </div>
    <!-- end right-container -->
  </div>
  <!-- end register -->

  <!-- Footer -->
  <mainfooter></mainfooter>
  <!-- End footer -->
</div>
