<div class="register register-with-news-feed">
    <!-- begin news-feed -->
    <div class="news-feed">
        <div class="news-image" style="background-image: url(../../assets/images/bg.jpg)"></div>
    </div>
    <!-- end news-feed -->
    <!-- begin right-content -->
    <div class="right-content">
      <!-- begin register-header -->
      <div class="register-header text-center">
        <div class="brand">
          <b>Sign Up</b>
          <p style="font-size: 16px;">Create your account to get started.</p>
        </div>
      </div>
      <!-- end register-header -->
      <!-- begin register-content -->
      <div class="register-content">
        <form action="/" method="POST" class="margin-bottom-0" @submit="submitRegisterForm">
          <div class="wd-wrap" v-if="step==0">
            <div class="wd-form__wrapper">
                <div class="wd-form__wrp">
                  <input type="text" name="firstname" placeholder="First name*" v-model="firstname" @change="firstnameValidated=true" :class="`wd-form__input ${firstnameValidated?'':'input-error'}`"/>
                </div>
                <div class="wd-form__wrp">
                  <input type="text" name="lastname" placeholder="Last name*" v-model="lastname" @change="lastnameValidated=true" :class="`wd-form__input ${lastnameValidated?'':'input-error'}`"/>
                </div>
                <div class="wd-form__wrp">
                  <input type="text" name="username" placeholder="Email address*" v-model="email" @change="emailValidated=true" :class="`wd-form__input ${emailValidated?'':'input-error'}`"/>
                </div>
                <div class="wd-form__wrp">
                  <input type="text" name="company" placeholder="Company*" v-model="company" max="50" @change="companyValidated=true" :class="`wd-form__input ${companyValidated?'':'input-error'}`"
                  />
                </div>
                <div class="wd-form__wrp">
                  <input type="password" name="password" placeholder="Your password*" v-model="password" @change="passwordValidated=true" :class="`wd-form__input ${passwordValidated?'':'input-error'}`"/>
                </div>
                <div class="wd-form__wrp">
                  <input type="password" name="password_confirm" placeholder="Re-enter your password*" v-model="passwordConfirm" @change="passwordValidated=true" :class="`wd-form__input ${passwordValidated?'':'input-error'}`"/>
                  <input type="hidden" id="registering_request_sent" @click="registeringRequestSent"/>
                </div>
                <div class="wd-form__wrp m-b-10">
                  <input type="checkbox" class="mr-2" id="agree" @change="agreeError=''" v-model="agree" />
                  <label for="agree" class="agree-desc">
                    By clicking Sign Up, you agree to our <a href="#" @click.prevent="openWindow('TERMS')">Terms</a> 
                    and that you have read our <a href="#" @click.prevent="openWindow('DATA_POLICY')">Data Policy</a>, 
                    including our <a href="#" @click.prevent="openWindow('COOKIE_USE')">Cookie Use</a>.
                  </label>
                </div>
                <div class="invalid-feedback">
                  {{agreeError}}
                </div>
                <div class="wd-form__wrp m-b-10">
                  <a class="btn btn-default btn-register sw-btn-next wd-btn-next" @click="userRegister()">Register</a>
                </div>
              </div>
              <div class="wd-wrap m-b-30">
                <div class="wd-form__wrp">
                  <span class="center-desc">Already a member? Click
                    <router-link to="/login">
                      <a><span>here</span></a>
                    </router-link> to login.
                  </span>
                </div>
                <div class="wd-form__wrp">
                  <span class="center-desc">Enter
                    <a href="javascript:;" @click="changeStep()">
                      <span>confirmation code</span>
                    </a>.
                  </span>
                </div>
              </div>
          </div>
          <div class="wd-form__wrapper" v-if="step==1">
            <div class="wd-form__wrp">
              <label class="wd-form__label">Confirm Code<span>*</span></label>
              <input type="text" name="confirmCode" placeholder="000000" v-model="code" @change="emailValidated=true" :class="`wd-form__input ${codeValidated?'':'input-error'}`"/>
            </div>
            <div class="invalid-feedback">
              {{codeError}}
            </div>
            <div class="wd-form__wrapper">
              <legend class="wd-form__header" style="font-size: 16px;">Thanks! Check your email for a confirmation code. It may take a few minutes to arrive.</legend>
            </div>
            <div class="btn-group navbar-btn sw-btn-group pull-right confirm-button" role="group">
              <a class="btn btn-default sw-btn-next" @click="confirmCode">Confirm</a>
            </div>
          </div>

          <div class="wd-form__wrapper"  v-if="step==2">
            <div class="wd-form__wrp"><div>Success!</div></div>
            <div class="btn-group navbar-btn sw-btn-group pull-right" role="group">
              <a class="btn btn-default sw-btn-next" @click="gotoLogin">Goto Login</a>
            </div>
          </div>
        </form>
      </div>
      <!-- end register-content -->
    </div>
    <!-- end right-container -->
  </div>
  <!-- end register -->

