<div class="login login-with-news-feed">
    <!-- begin news-feed -->
    <div class="news-feed">
        <div class="news-image" style="background-image: url(../../assets/images/bg.jpg)"></div>
    </div>
    <!-- end news-feed -->
    <!-- begin right-content -->
    <div class="right-content">
      <!-- begin login-header -->
      <div class="login-header">
        <div class="brand">
          <b>Sign Up</b>
        </div>
        <div class="icon">
          <i class="fa fa-sign-in"></i>
        </div>
      </div>
      <!-- end login-header -->
      <!-- begin login-content -->
      <div class="login-content">
        <form action="/" method="POST" class="margin-bottom-0">
          <div v-if="step==0">
            <div class="form-group m-b-15">
              <input type="text" name="username" placeholder="email@wrench.ai" v-model="email" @change="emailValidated=true" :class="`form-control form-control-lg ${emailValidated?'':'input-error'}`"/>
            </div>
            <div class="form-group m-b-15">
              <input type="password" name="password" placeholder="Your password" v-model="password" @change="passwordValidated=true" :class="`form-control form-control-lg ${passwordValidated?'':'input-error'}`"/>
            </div>
            <div class="form-group m-b-15">
              <input type="password" name="password_confirm" placeholder="Confirm your password" v-model="passwordConfirm" @change="passwordValidated=true" :class="`form-control form-control-lg ${passwordValidated?'':'input-error'}`"/>
            </div>
            <div class="login-buttons">
              <a type="submit" class="btn btn-success btn-block btn-lg" @click="userRegister()">Register</a>
            </div>
            <div class="m-t-20 m-b-40 p-b-40 text-inverse">
              Already a member? Click
              <router-link to="/login">
                <a class="text-success">here</a>
              </router-link>
              to login.
            </div>
            <hr />
            <p class="text-center text-grey-darker">
              &copy; Wrench.AI All Right Reserved 2018
            </p>
          </div>
          <div class="wd-form__wrapper" v-if="step==1">
            <div class="wd-form__wrp">
              <label class="wd-form__label">Confirm Code<span>*</span></label>
              <input type="text" name="confirmCode" placeholder="000000" v-model="code" @change="emailValidated=true" :class="`wd-form__input ${codeValidated?'':'input-error'}`"/>
            </div>

            <div class="btn-group navbar-btn sw-btn-group pull-right" role="group">
              <a class="btn btn-default sw-btn-next" @click="confirmCode">Confirm</a>
            </div>
          </div>

          <div class="wd-form__wrapper"  v-if="step==2">
            <div class="wd-form__wrp"><div>Success!</div></div>
            <div class="btn-group navbar-btn sw-btn-group pull-right" role="group">
              <a class="btn btn-default sw-btn-next" @click="gotoLogin">Goto Login</a>
            </div>
          </div>
        </form>
      </div>
      <!-- end login-content -->
    </div>
    <!-- end right-container -->
  </div>
  <!-- end login -->

