.register.register-with-news-feed .news-feed {
  right: 0px;
}

.register.register-with-news-feed .news-image {
  // background-position-x: -450px;
  background-color: black;
  // background-color: black;
  // -moz-transform: scaleX(-1);
  // -o-transform: scaleX(-1);
  // -webkit-transform: scaleX(-1);
  // transform: scaleX(-1);
}

.register.register-with-news-feed .right-content {
  position: absolute;
  right: 110px;
  background-color: white;
  border-radius: 10px;
}

.register.register-with-news-feed .right-content .confirm-button {
  margin-bottom: 50px;
}

.register {
  .invalid-feedback {
    display: block;
  }
  .brand b {
    color: #327FA3;
  }
  .brand p {
    color: #707478;
  }
  .btn-register {
    margin: 0 auto;
  }
  .center-desc {
    margin: 0 auto;
    color: #707478;
  }
  .agree-desc {
    color: #707478;
    font-weight: normal;
  }

  #registering_request_sent {
    display: none;
  }
}
