.wd-form__load {
  min-height: 350px;
}

.wd-form__wrapper.success-message {
  min-height: 200px;
  padding-top: 55px;
}

.wd-form__load--subtitle.message {
  font-weight: bold;
}

#contact_upload_form_wizard .wd-form__load--center {
  width: 700px;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 1s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}