<div class="content">
  <div class="row">
    <div class="col-lg-12 col-md-12 chart-doc-area-title">
      <div class="panel bg-white">
        <div class="panel-body panel-body--chart">
          <iframe style="width: 100%;" scrolling="no" frameborder="0" src="https://docs.google.com/document/d/e/2PACX-1vRxZywpP8x7BbU1sM30aHT-uQ-tbxhun7Abj5OBp8tRgjIPj1HRkNTzc_wNVmfrv36mBqepDRSIsohr/pub?embedded=true"></iframe>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-8 chart-doc-area">
      <div class="panel bg-white">
        <div class="panel-heading panel-heading--light">
          <h4 class="panel-title">Innovation Adoption Segments</h4>
        </div>
        <div class="panel-body panel-body--chart">
          <!-- <iframe style="width: 100%; height: 500px;" frameborder="0" scrolling="no" v-bind:src="'https://go.wrench.ai/chart=adoption_curve&s=' + subjectId + '&x=dan_match&y=gabi_match'"></iframe> -->
          <iframe style="width: 100%; height: 500px;" frameborder="0" scrolling="no" v-bind:src="'https://go.wrench.ai/chart=adoption_curve&s=d1237d6f-974f-4009-a23c-413dbddeeade&x=dan_match&y=gabi_match'"></iframe>
        </div>
      </div>
    </div>
    <div class="col-xl-4 chart-doc-area">
      <div class="panel bg-white">
        <div class="panel-body panel-body--chart">
          <iframe style="width: 100%; height: 500px;" frameborder="0" src="https://docs.google.com/document/d/e/2PACX-1vThqxJUQI8rK4B6twiRo5a0j3wptSUJ6xx4_0C6XuTuF0rlt2L-uqV8YtNlZPaKbHvWi1TqE4h-xqfu/pub?embedded=true"></iframe>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-4 chart-doc-area">
      <div class="panel bg-white">
        <div class="panel-heading panel-heading--light">
          <h4 class="panel-title">OUTREACH PRIORITIES</h4>
        </div>
        <div class="panel-body panel-body--chart">
          <!-- <iframe style="width: 100%; height: 500px;" frameborder="0" scrolling="no" v-bind:src="'https://go.wrench.ai/chart=channel_strategy&s=' + subjectId"></iframe> -->
          <iframe style="width: 100%; height: 500px;" frameborder="0" scrolling="no" v-bind:src="'https://go.wrench.ai/chart=channel_strategy&s=d1237d6f-974f-4009-a23c-413dbddeeade'"></iframe>
        </div>
      </div>
    </div>
    <div class="col-xl-4 chart-doc-area">
      <div class="panel bg-white">
        <div class="panel-body panel-body--chart">
          <iframe style="width: 100%; height: 500px;" frameborder="0" src="https://docs.google.com/document/d/e/2PACX-1vSbaFh3ogcZwqWE63n7Uljy-2ZzNsIc3yzU1V5IAxtDdzSyQm4rPuvWr6QBKkRbsCnR-7EMztTMQwr5/pub?embedded=true"></iframe>
        </div>
      </div>
    </div>
    <div class="col-xl-4 chart-doc-area">
      <div class="panel bg-white">
        <div class="panel-heading panel-heading--light">
          <h4 class="panel-title">MESSAGING STRATEGY</h4>
        </div>
        <div class="panel-body panel-body--chart">
          <!-- <iframe style="width: 100%; height: 500px;" frameborder="0" scrolling="no" v-bind:src="'https://go.wrench.ai/chart=persuasion&s=' + subjectId"></iframe> -->
          <iframe style="width: 100%; height: 500px;" frameborder="0" scrolling="no" v-bind:src="'https://go.wrench.ai/chart=persuasion&s=d1237d6f-974f-4009-a23c-413dbddeeade'"></iframe>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-6">
      <div class="panel panel-inverse no-padding">
        <!-- begin panel-heading -->
        <div class="panel-heading">
          <h4 class="panel-title">Export Contacts</h4>
          <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-md btn-icon btn-circle btn-default" @click="onDownloadAsCSV">
              <i class="fa fa-download"></i>
            </a>
            <a href="javascript:;" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-expand">
              <i class="fa fa-expand"></i>
            </a>
          </div>
        </div>
        <!-- end panel-heading -->
      
        <loading-indicator v-if="isBusy"></loading-indicator>
      
        <!-- begin panel-body -->
        <div class="panel-body" v-else>
          <p class="alert alert-danger" v-if="error">{{ error }}</p>
      
          <!-- @onSelectRow: definition of row click event -->
          <data-table :columns="contactColumns" :data="contactData" paginate filterable v-else></data-table>
        </div>
      </div>
    </div>
    <div class="col-xl-6 chart-doc-area">
      <div class="panel bg-white">
        <div class="panel-heading panel-heading--light">
          <h4 class="panel-title"></h4>
        </div>
        <div class="panel-body panel-body--chart">
          <iframe style="width: 100%; height: 500px;" frameborder="0" src="https://docs.google.com/document/d/e/2PACX-1vSvCaKhzY2ryRXzcvFaQqc8ftf7oRaKIXgEt_HLiSYuS7H5oN7aWP4EYwl6_S34w9Z-wPJOvOnLVzW2/pub?embedded=true"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
