.sw-main>ul.step-anchor.nav-tabs>li.active>a {
    background: #2ABCD6 !important;
}
.sw-main>ul.step-anchor.nav-tabs>li.done>a {
    background: #D6F1F7 !important;
}
.sw-main.sw-theme-default>ul.step-anchor>li.done>a {
    color: #000000 !important;
}
.sw-main>ul.step-anchor.nav-tabs>li.done>a .number:before {
    background: #D6F1F7 !important;
    color: #000000;
    border-radius: 0px !important;
}

.wd-step {
    @media screen and (max-width: 1200px) {
        white-space: nowrap;
        padding: 15px !important;
        overflow: hidden;
    }
    padding: 40px 35px !important;
    display: flex !important;
    height: 100%;

    &__wrapper {
        @media screen and (max-width: 1200px) {
            overflow-y: scroll; 
            display: inline-flex !important;
            flex-wrap: nowrap;
        }
        display: flex !important;
        .active {
            background: #2ABCD6 !important;
        }
    }
    &__item {
        @media screen and (max-width: 1200px) {
            max-width: 320px;
            width: 100%;
        }
        width: 25%;
    }
    &__number {
        font-size: 20px !important;
        margin-right: 10px !important;
        background: none !important;
    }
    &__title {
        @media screen and (max-width: 768px) {
            font-size: 16px;
        }
        font-size: 18px;
        text-transform: uppercase;
        
    }
    &__subtitle {
        @media screen and (max-width: 768px) {
            font-size: 14px;
        }
        font-size: 16px;
    }
}
.wd-wrap {
    width: 100%;
}

.wd-form {
    &__wrapper {
        max-width: 640px;
        margin: auto;
    }

    &__header {
        text-align: center;
        font-size: 24px;
        font-weight: 600;
        color: #000000;
        padding: 10px 0 15px 0;
        border: none;
    }
    &__wrp {
        @media screen and (max-width: 992px){
            flex-direction: column;
        }
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    &__label {
        @media screen and (max-width: 992px){
            padding-left: 25px;
        }
        font-size: 14px;
        font-weight: 400;
        text-align: left;
        span {
            color: rgb(53, 126, 162);
        }
    }
    &__input {
        @media screen and (max-width: 768px){
            flex-direction: column;
            width: 100%;
        }
        border: 1px solid #c1c1c1;
        background-color: #f8f8f8;
        border-radius: 22px;
        padding: 14px 24px;
        font-size: 14px;
        margin-bottom: 16px ;
        width: 440px;

        &:focus {
            border:  1px solid rgb(53, 126, 162);
            outline: none;
        }
    }
    &__select-btn {
        border: 1px solid #c1c1c1;
        background-color: #f8f8f8;
        border-radius: 22px;
        padding: 13px 20px;
        font-size: 14px;
        width: 135px !important;
        outline: none;
        margin-right: 12px;
        &:last-child{
            margin-right: 0;
        }
    }
    &__select-icon {
        background-image: none;
        width: 7px;
        height: 5px;
        background: #949494;
        top: 7px;
    }

    &__load {
        position: relative;
        border: 1px dashed rgb(230, 230, 230);
        min-height: 260px;
        display: flex;
        justify-content: center;
        align-items: center;

        &--title {
            font-size: 30px;
            font-weight: 700;
            color:#000000;
        }
        &--subtitle {
            font-size: 22px;;
        }
        &--center {
            text-align: center;
        }
    }
    
    &__load-input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
    }
    &__success {
        text-align: center;
        padding: 45px 0;
        &--title {
            font-size: 36px;
            font-weight: 600;
            margin-bottom: 20px;
        }
        &--subtitle {
            font-size: 24px;
            font-weight: 300;
            color: #000000;
            padding-bottom: 40px;
        }
    }
    .wd-form__footer {
        background: #D6F1F7 !important;
        padding: 30px 60px !important;
        .btn {
            @media screen and (max-width: 768px){
                padding: 8px 18px !important;
                font-size: 13px !important;
                border-radius: 16px !important;
            }
            font-size: 16px !important;
            padding: 14px 38px !important;
            border-radius: 24px !important;
        }
        .wd-btn-next {
            background: #327FA3 !important;
            color: #ffffff !important;
        }
        .wd-btn-prev {
            background: #ffffff !important;
            color: #327FA3 !important;
        }
    }
}
.wd-btn {
    background: #327FA3;
    padding: 16px 28px;
    color: #ffffff;
    font-size: 16px;
    border-radius: 24px;
}
