<div class="content">
  <div class="panel panel-inverse no-padding">
    <!-- begin panel-heading -->
    <div class="panel-heading">
      <h4 class="panel-title">Export Contacts</h4>
    </div>
    <!-- end panel-heading -->
    <!-- begin panel-body -->
    <div class="panel-body">
      <p class="alert alert-danger" v-if="error">{{ error }}</p>
      <data-table :columns="contactColumns" :data="contactData" paginate filterable v-if="contactColumns.length > 0"></data-table>
    </div>
  </div>
</div>
