<div class="content">
  <div class="panel panel-inverse no-padding">
    <!-- begin panel-heading -->
    <div class="panel-heading">
      <div class="panel-heading-btn">
        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" @click="onDownloadAsCSV"><i class="fa fa-download"></i></a>
        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
      </div>
      <h4 class="panel-title">Export Contacts</h4>
    </div>
    <!-- end panel-heading -->

    <loading-indicator v-if="isBusy"></loading-indicator>

    <!-- begin panel-body -->
    <div class="panel-body" v-else>
      <p class="alert alert-danger" v-if="error">{{ error }}</p>
      <data-table :columns="contactColumns" :data="contactData" paginate filterable v-else></data-table>
    </div>
  </div>
</div>
