<!-- begin #content -->
<div id="content" class="content">
  <!-- begin page-header -->
  <h1 class="page-header hidden-print">Invoice</h1>
  <!-- end page-header -->
  <!-- begin invoice -->
  <div class="invoice">
    <!-- begin invoice-company -->
    <div class="invoice-company text-inverse f-w-600 m-b-30">
      <span class="pull-right hidden-print">
        <a class="btn btn-inverse btn-lg btn-submit" @click.prevent="payNow">Pay Now</a>
      </span>
      Wrench.Ai
    </div>
    <!-- end invoice-company -->
    <!-- begin invoice-header -->
    <div class="invoice-header">
      <div class="invoice-from">
        <small>from</small>
        <address class="m-t-5 m-b-5">
          <strong class="text-inverse">Wrench.AI</strong><br />
          1387 East 3010 South<br />
          Salt Lake City, Utah 84106<br />
          Phone: (415) 851-5572<br />
        </address>
      </div>
      <div class="invoice-to">
        <small>to</small>
        <address class="m-t-5 m-b-5">
          <strong class="text-inverse">{{ billingInfo.client_name }}</strong><br />
          <span v-if="billingInfo.client_address_1">{{ billingInfo.client_address_1 }}</span><br />
          <span v-if="billingInfo.client_address_2">{{ billingInfo.client_address_2 }}</span><br />
          <span v-if="billingInfo.client_city">{{ billingInfo.client_city }}, {{ billingInfo.client_state }} {{ billingInfo.client_zip }}</span><br />
          <span v-if="billingInfo.client_phone">Phone: {{ billingInfo.client_phone }}</span><br />
        </address>
      </div>
      <div class="invoice-date">
        <small>Invoice / October period</small>
        <div class="date text-inverse m-t-5">{{ billingInfo.invoice_date }}</div>
        <div class="invoice-detail">
          {{ billingInfo.invoice_number }}
        </div>
      </div>
    </div>
    <!-- end invoice-header -->
    <!-- begin invoice-content -->
    <div class="invoice-content">
      <!-- begin table-responsive -->
      <div class="table-responsive">
        <table class="table table-invoice">
          <thead>
            <tr>
              <th>Service</th>
              <th class="text-center" width="10%">QTY</th>
              <th class="text-center" width="10%">Per Contact</th>
              <th class="text-center" width="10%">Contacts</th>
              <th class="text-right" width="20%">Line Total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Enrichment and Psychographics</td>
              <td class="text-center">{{ billingInfo.enrich_rate_qty }}</td>
              <td class="text-center">{{ billingInfo.enrich_rate }}</td>
              <td class="text-center">{{ billingInfo.num_contacts }}</td>
              <td class="text-right">{{ billingInfo.enrich_line_total }}</td>
            </tr>
            <tr>
              <td>Custom Match Scores</td>
              <td class="text-center">{{ billingInfo.match_score_qty }}</td>
              <td class="text-center">{{ billingInfo.match_score_rate }}</td>
              <td class="text-center">{{ billingInfo.num_contacts }}</td>
              <td class="text-right">{{ billingInfo.match_score_line_total }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- end table-responsive -->
      <!-- begin invoice-price -->
      <div class="invoice-price">
        <div class="invoice-price-left">
        </div>
        <div class="invoice-price-right">
          <small>TOTAL</small> <span class="f-w-600">{{ billingInfo.total }}</span>
        </div>
      </div>
      <!-- end invoice-price -->
    </div>
    <!-- end invoice-content -->
    <!-- begin invoice-note -->
    <div class="invoice-note mt-0">
      * Payment is due within 30 days<br />
      * If you want to cancel / update subscription, please click <a href="mailto:billing@wrench.ai">here</a><br />
      * If you have any questions concerning this invoice, contact billing@wrench.ai
    </div>
    <!-- end invoice-note -->
    <!-- begin invoice-footer -->
    <div class="invoice-footer">
      <p class="text-center m-b-5 f-w-600">
        THANK YOU FOR YOUR BUSINESS
      </p>
      <p class="text-center">
        <span class="m-r-10"><i class="fa fa-fw fa-lg fa-globe"></i> wrench.ai</span>
        <span class="m-r-10"><i class="fa fa-fw fa-lg fa-phone-volume"></i> T:415-613-8607</span>
        <span class="m-r-10"><i class="fa fa-fw fa-lg fa-envelope"></i> billing@wrench.ai</span>
      </p>
    </div>
    <!-- end invoice-footer -->
  </div>
  <!-- end invoice -->
</div>
<!-- end #content -->
