.account-info-table table tbody tr td.field {
  width: 25% !important;
}

.chart-area .panel {
  border: 1px solid #BFBFBF;
  padding: 0;
  height: 570px;
}

.chart-area .panel iframe {
  height: 470px !important;
}

.chart-area .panel select {
  width: 250px;
}