.indicator-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    
    i, span {
        font-size: 20px;
    }
    span {
        margin-left: 5px;
    }
}
