<!-- begin #content -->
<div id="content" class="content">


      <!--four number rectangles-->
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="widget widget-stats bg-gradient-green">
              <div class="stats-icon stats-icon-lg"><img src="../../assets/images/dashboard/customer.svg" alt="icon"></div>
              <div class="stats-content">
            <div class="stats-title">Contacts</div>
            <div class="stats-number">2,832,177</div>
            <div class="stats-progress progress">
              <div class="progress-bar" style="width: 70.1%;"></div>
            </div>
            <div class="stats-desc">Better than last week (70.1%)</div>
                      </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="widget widget-stats bg-gradient-blue">
              <div class="stats-icon stats-icon-lg"><img src="../../assets/images/dashboard/team.svg" alt="icon"></div>
          <div class="stats-content">
            <div class="stats-title">Companies</div>
            <div class="stats-number">832,177</div>
            <div class="stats-progress progress">
              <div class="progress-bar" style="width: 40.5%;"></div>
            </div>
            <div class="stats-desc">Better than last week (40.5%)</div>
          </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="widget widget-stats bg-gradient-blue-dark">
                <div class="stats-icon stats-icon-lg"><img src="../../assets/images/dashboard/investment.svg" alt="icon"></div>
              <div class="stats-content">
                  <div class="stats-title">Equivalent Man-Hours</div>
                  <div class="stats-number">5,664,354</div>
                <div class="stats-progress progress">
                  <div class="progress-bar" style="width: 76.3%;"></div>
                </div>
                <div class="stats-desc">Better than last week (76.3%)</div>
              </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="widget widget-stats bg-gradient-purple">
                <div class="stats-icon stats-icon-lg"><img src="../../assets/images/dashboard/modeled-insights.svg" alt="icon"></div>
              <div class="stats-content">
                <div class="stats-title">Modeled Insights</div>
                <div class="stats-number">2,832,177</div>
                <div class="stats-progress progress">
                  <div class="progress-bar" style="width: 54.9%;"></div>
                </div>
                <div class="stats-desc">Better than last week (54.9%)</div>
              </div>
            </div>
        </div>
    </div>

      <!--row one-->
    <div class="row">
        <div class="col-xl-8">
            <div class="panel bg-white">
              <div class="panel-heading panel-heading--light">
                  <h4 class="panel-title">Innovation Adoption Segments</h4>
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-icon" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-icon" data-click="panel-reload"><i class="fa fa-redo"></i></a>
                    <a href="javascript:;" class="btn btn-icon" data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div>
              </div>
              <div class="panel-body panel-body--chart">
                  <iframe style="width: 100%; height: 400px;" frameborder="0" scrolling="no" src="http://plot.ly/~Wrenchai/111.embed?share_key=9gt2CUdEOxGO6ccBoz9NeY"></iframe>
              </div>
            </div>
        </div>
        <div class="col-xl-4">
          <div class="panel bg-white panel--full">
                <div class="panel-heading panel-heading--light">
              <h4 class="panel-title">Cannibalization</h4>
                  <div class="panel-heading-btn">
                      <a href="javascript:;" class="btn btn-icon" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                      <a href="javascript:;" class="btn btn-icon" data-click="panel-reload"><i class="fa fa-redo"></i></a>
                      <a href="javascript:;" class="btn btn-icon" data-click="panel-remove"><i class="fa fa-times"></i></a>
                  </div>
                </div>

                <div class="panel-body panel-body--chart">
                <iframe style="width: 100%; height: 400px;" frameborder="0" scrolling="no" src="http://plot.ly/~Wrenchai/38.embed?share_key=y5INPSaHYon4xOul18XFgo"></iframe>
                </div>
              </div>
          </div>

      </div>

      <!--row two-->
    <div class="row">
        <div class="col-xl-8">
            <div class="panel bg-white">
                <div class="panel-heading panel-heading--light">
                  <h4 class="panel-title">Influencers</h4>
                  <div class="panel-heading-btn">
                      <a href="javascript:;" class="btn btn-icon" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                      <a href="javascript:;" class="btn btn-icon" data-click="panel-reload"><i class="fa fa-redo"></i></a>
                      <a href="javascript:;" class="btn btn-icon" data-click="panel-remove"><i class="fa fa-times"></i></a>
                  </div>
                </div>

                <div class="panel-body panel-body--chart">
                    <iframe style="width: 100%; height: 400px;" frameborder="0" scrolling="no" src="http://plot.ly/~Wrenchai/144.embed"></iframe>
                </div>
              </div>
          </div>
        <div class="col-xl-4">
          <div class="panel bg-white panel--full">
                <div class="panel-heading panel-heading--light">
              <h4 class="panel-title">MESSAGING STRATEGY</h4>
                  <div class="panel-heading-btn">
                      <a href="javascript:;" class="btn btn-icon" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                      <a href="javascript:;" class="btn btn-icon" data-click="panel-reload"><i class="fa fa-redo"></i></a>
                      <a href="javascript:;" class="btn btn-icon" data-click="panel-remove"><i class="fa fa-times"></i></a>
                  </div>
                </div>

                <div class="panel-body panel-body--chart">
                    <iframe style="width: 100%; height: 400px;" frameborder="0" scrolling="no" src="http://plot.ly/~Wrenchai/134.embed?share_key=I5AyMKY4vEdIUFklkfQmB3"></iframe>
                </div>
              </div>
          </div>
      </div>

      <!--row three-->
    <div class="row">
        <div class="col-xl-4">
            <div class="panel bg-white">
                <div class="panel-heading panel-heading--light">
                  <h4 class="panel-title">PERSONALITY TYPES</h4>
                  <div class="panel-heading-btn">
                      <a href="javascript:;" class="btn btn-icon" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                      <a href="javascript:;" class="btn btn-icon" data-click="panel-reload"><i class="fa fa-redo"></i></a>
                      <a href="javascript:;" class="btn btn-icon" data-click="panel-remove"><i class="fa fa-times"></i></a>
                  </div>
                </div>

                <div class="panel-body panel-body--chart">
                    <iframe style="width: 100%; height: 400px;" frameborder="0" scrolling="no" src="http://plot.ly/~Wrenchai/146.embed?share_key=Ovsi5dAy9bjlkL73Kp8Tmn"></iframe>
                </div>
              </div>
          </div>
        <div class="col-xl-4">
              <div class="panel bg-white">
                <div class="panel-heading panel-heading--light">
                  <h4 class="panel-title">OUTREACH PRIORITIES</h4>
                  <div class="panel-heading-btn">
                      <a href="javascript:;" class="btn btn-icon" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                      <a href="javascript:;" class="btn btn-icon" data-click="panel-reload"><i class="fa fa-redo"></i></a>
                      <a href="javascript:;" class="btn btn-icon" data-click="panel-remove"><i class="fa fa-times"></i></a>
                  </div>
                </div>
                <div class="panel-body panel-body--chart">
                    <iframe style="width: 100%; height: 400px;" frameborder="0" scrolling="no" src="http://plot.ly/~Wrenchai/138.embed?share_key=cMasDVQS89UCc479D9RW8S"></iframe>
                </div>
              </div>
          </div>
      <div class="col-xl-4">
          <div class="panel bg-white">
          <div class="panel-heading panel-heading--light">
              <h4 class="panel-title">geographical distribution</h4>
            <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-icon" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                <a href="javascript:;" class="btn btn-icon" data-click="panel-reload"><i class="fa fa-redo"></i></a>
                <a href="javascript:;" class="btn btn-icon" data-click="panel-remove"><i class="fa fa-times"></i></a>
            </div>
          </div>

          <div class="panel-body panel-body--chart">
              <div id="world-map" class="width-full" style="height: 400px;"></div>
            </div>
          </div>
        </div>
      </div>

      <!--row four-->
    <div class="row">
        <div class="col-xl-8">
            <div class="panel bg-white">
              <div class="panel-heading panel-heading--light">
                <h4 class="panel-title">Visitors Analytics</h4>
                <div class="panel-heading-btn">
                  <a href="javascript:;" class="btn btn-icon" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                  <a href="javascript:;" class="btn btn-icon" data-click="panel-reload"><i class="fa fa-redo"></i></a>
                  <a href="javascript:;" class="btn btn-icon" data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div>
              </div>
              <div class="panel-body panel-body--chart">
                <div class="widget-chart widget-chart--single">
                      <div class="panel__info">
                        <div class="panel__info-descrciption">Where do our visitors come from</div>
                      </div>
                    <div class="widget-chart-content widget-chart-content--single">

                      <div id="visitors-line-chart-test" class="widget-chart-full-width nvd3-inverse-mode" style="height: 284px;"></div>
                    </div>
                    <div class="widget-chart-sidebar bg-gray">
                        <div class="chart-number">
                            1,225,729
                            <small>Total visitors</small>
                        </div>
                        <div id="visitors-donut-chart" style="height:205px;" class="nvd3-inverse-mode"></div>
                        <ul class="chart-legend f-s-11">
                            <li><i class="fa fa-circle fa-fw text-primary f-s-9 m-r-5 t-minus-1"></i> 34.0% <span>New Visitors</span></li>
                            <li><i class="fa fa-circle fa-fw text-success f-s-9 m-r-5 t-minus-1"></i> 56.0% <span>Return Visitors</span></li>
                        </ul>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-8">
            <div class="panel bg-white">
              <div class="panel-heading panel-heading--light">
                <h4 class="panel-title">OUTREACH PRIORITIES</h4>
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-icon" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-icon" data-click="panel-reload"><i class="fa fa-redo"></i></a>
                    <a href="javascript:;" class="btn btn-icon" data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div>
              </div>
              <div class="panel-body panel-body--chart">
                  <iframe style="width: 100%; height: 400px;" frameborder="0" scrolling="no" src="http://dash-prod.cvjzxpr5zh.us-east-1.elasticbeanstalk.com/chart=innovator_opportunity&client_name=Investable"></iframe>
              </div>
            </div>
        </div>
    </div>

  </div>
