<div class="login login-with-news-feed">
  <!-- begin news-feed -->
  <div class="news-feed">
      <div class="news-image" style="background-image: url(../../assets/images/bg.jpg)"></div>
  </div>
  <!-- end news-feed -->
  <!-- begin right-content -->
  <div class="right-content" v-if="step === 0">
    <!-- begin login-header -->
    <div class="login-header text-center">
      <div class="brand">
        <b>Forgot Password?</b>
      </div>
    </div>
    <!-- end login-header -->
    <!-- begin login-content -->
    <div class="login-content">
      <div class="alert alert-danger" v-if="!!error.response">
        {{ error.response }}
      </div>
      <form action="/" @submit.prevent="forgotPassword">
        <div class="wd-wrap">
          <div class="wd-form__wrapper">
            <div class="wd-form__wrp">
              <input
                type="text"
                placeholder="Username*"
                v-model="userData.username"
                @keydown="error.username = false"
                class="wd-form__input"
                :class="{'input-error m-b-5': !!error.username}"
                />
            </div>
            <p class="invalid-feedback m-b-20 m-l-20" v-if="error.username">
              {{ error.username }}
            </p>
            <div class="wd-form__wrp justify-content-center  m-b-10">
              <button type="submit" class="btn btn-default btn-login sw-btn-next wd-btn-next" :disabled="isBusy">
                Send verification code
                <i class="fa fa-spinner fa-spin" v-if="isBusy"></i>
              </button>
            </div>
            <div class="wd-form__wrp justify-content-center">
              <span>
                <router-link to="/login">
                  <a><span>Back to login</span></a>
                </router-link>
              </span>
            </div>
          </div>
        </div>
      </form>
    </div>
    <!-- end login-content -->
  </div>
  <div class="right-content" v-else>
    <!-- begin forgot-password-header -->
    <div class="login-header text-center">
      <div class="brand">
        <b>Reset Password?</b>
      </div>
    </div>
    <!-- end forgot-password-header -->
    <!-- begin reset-password-content -->
    <div class="login-content">
      <div class="alert alert-success" v-if="step === 2">
        Password has been successfully changed.
      </div>
      <div class="alert alert-danger" v-if="!!error.response">
        {{ error.response }}
      </div>
      <form action="/" @submit.prevent="resetPassword">
        <div class="wd-wrap">
          <div class="wd-form__wrapper">
            <div class="wd-form__wrp">
              <input
                type="text"
                placeholder="Code*"
                v-model="userData.code"
                @keydown="error.code = false"
                class="wd-form__input"
                :class="{'input-error m-b-5': !!error.code}"
                />
            </div>
            <p class="invalid-feedback m-b-20 m-l-20" v-if="error.code">
              {{ error.code }}
            </p>
            <div class="wd-form__wrp">
              <input
                type="password"
                placeholder="New Password*"
                v-model="userData.newPassword"
                @keydown="error.newPassword = false"
                class="wd-form__input"
                :class="{'input-error m-b-5': !!error.newPassword}"
                />
            </div>
            <p class="invalid-feedback m-b-20 m-l-20" v-if="error.newPassword">
              {{ error.newPassword }}
            </p>
            <div class="wd-form__wrp">
              <input
                type="password"
                placeholder="Confirm Password*"
                v-model="userData.confirmPassword"
                @keydown="error.confirmPassword = false"
                class="wd-form__input"
                :class="{'input-error m-b-5': !!error.confirmPassword}"
                />
            </div>
            <p class="invalid-feedback m-b-20 m-l-20" v-if="error.confirmPassword">
              {{ error.confirmPassword }}
            </p>
            <div class="wd-form__wrp justify-content-center  m-b-10">
              <button type="submit" class="btn btn-default btn-login sw-btn-next wd-btn-next" :disabled="isBusy">
                Reset Password
                <i class="fa fa-spinner fa-spin" v-if="isBusy"></i>
              </button>
            </div>
            <div class="wd-form__wrp justify-content-center">
              <span>
                <router-link to="/login">
                  <a><span>Back to login</span></a>
                </router-link>
              </span>
            </div>
          </div>
        </div>
      </form>
    </div>
    <!-- end reset-password-content -->
  </div>
  <!-- end right-container -->
</div>
<!-- end login -->
