<div class="login login-with-news-feed">
  <!-- begin news-feed -->
  <div class="news-feed">
      <div class="news-image" style="background-image: url(../../assets/images/bg.jpg)"></div>
  </div>
  <!-- end news-feed -->
  <!-- begin right-content -->
  <div class="right-content" v-if="forgotPasswordStatus !== 'SUCCEEDED'">
    <!-- begin login-header -->
    <div class="login-header text-center">
      <div class="brand">
        <b>Forgot Password?</b>
      </div>
    </div>
    <!-- end login-header -->
    <!-- begin login-content -->
    <div class="login-content">
      <form action="/" method="POST" class="form-control-with-bg" @submit.prevent="forgotPassword">
        <!-- begin wizard -->
        <div class="form-wizard">
          <fieldset>
            <div class="row">
              <div class="wd-wrap">
                <div class="wd-form__wrapper">
                  <div class="alert alert-danger" v-if="forgotPasswordStatus === 'FAILED'">
                    {{ forgotPasswordError }}
                  </div>
                  <div class="wd-form__wrp">
                    <input
                      type="text"
                      placeholder="Username*"
                      v-model="username"
                      @change="usernameValidated=true"
                      class="wd-form__input"
                      :class="{'input-error': !usernameValidated}"
                      />
                  </div>
                  <div class="wd-form__wrp justify-content-center m-b-10">
                    <button
                      type="submit"
                      class="btn btn-default sw-btn-next wd-btn-next"
                      :disabled="forgotPasswordStatus === 'REQUESTED'">
                      Send verification code
                    </button>
                  </div>
                  <div class="wd-form__wrp justify-content-center">
                    <span>
                      <router-link to="/login">
                        <a><span>Back to login</span></a>
                      </router-link>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
        </div>
      </form>
    </div>
    <!-- end login-content -->
  </div>
  <div class="right-content" v-else>
    <!-- begin forgot-password-header -->
    <div class="login-header text-center">
      <div class="brand">
        <b>Reset Password?</b>
      </div>
    </div>
    <!-- end forgot-password-header -->
    <!-- begin reset-password-content -->
    <div class="login-content">
      <form action="/" method="POST" class="form-control-with-bg" @submit.prevent="resetPassword">
        <!-- begin wizard -->
        <div class="form-wizard">
          <fieldset>
            <div class="row">
              <div class="wd-wrap">
                <div class="wd-form__wrapper">
                  <div class="alert alert-success" v-if="confirmPasswordStatus === 'SUCCEEDED'">
                    Password has been successfully changed.
                  </div>
                  <div class="alert alert-danger" v-if="confirmPasswordStatus === 'FAILED'">
                    {{ confirmPasswordError }}
                  </div>
                  <div class="wd-form__wrp">
                    <input
                      type="text"
                      placeholder="Code*"
                      v-model="code"
                      @change="codeValidated=true"
                      class="wd-form__input"
                      :class="{'input-error': !codeValidated}"
                      />
                  </div>
                  <div class="wd-form__wrp">
                    <input
                      type="password"
                      placeholder="New Password*"
                      v-model="newPassword"
                      @change="newPasswordValidated=true"
                      class="wd-form__input"
                      :class="{'input-error': !newPasswordValidated}"
                      />
                  </div>
                  <div class="wd-form__wrp">
                    <input
                      type="password"
                      placeholder="Confirm Password*"
                      v-model="confirmPassword"
                      @change="confirmPasswordValidated=true"
                      class="wd-form__input"
                      :class="{'input-error': !confirmPasswordValidated}"
                      />
                  </div>
                  <div class="wd-form__wrp justify-content-center m-b-10">
                    <button
                      type="submit"
                      class="btn btn-default sw-btn-next wd-btn-next"
                      :disabled="confirmPasswordStatus === 'REQUESTED'">
                      Reset Password
                    </button>
                  </div>
                  <div class="wd-form__wrp justify-content-center">
                    <span>
                      <router-link to="/login">
                        <a><span>Back to login</span></a>
                      </router-link>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
        </div>
      </form>
    </div>
    <!-- end reset-password-content -->
  </div>
  <!-- end right-container -->
</div>
<!-- end login -->
