<form action="/" method="POST" class="form-control-with-bg">
  <!-- begin wizard -->
  <div class="form-wizard">
    <fieldset>
      <div class="row">
        <div class="wd-wrap">
          <div class="wd-form__wrapper">
            <div class="wd-form__wrp">
              <label class="wd-form__label">Username
                <span>*</span>
              </label>
              <input type="text" name="username" placeholder="johnsmithy" v-model="userName" @change="userNameValidated=true" :class="`wd-form__input ${userNameValidated?'':'input-error'}`"
              />
            </div>
            <div class="wd-form__wrp">
              <label class="wd-form__label">Password
                <span>*</span>
              </label>
              <input type="password" name="password" placeholder="Your password" v-model="password" @change="passwordValidated=true" :class="`wd-form__input ${passwordValidated?'':'input-error'}`"
              />
            </div>
            <div class="btn-group navbar-btn sw-btn-group pull-right" role="group">
              <a class="btn btn-default sw-btn-next wd-btn-next" @click="userLogin()">Login</a>
            </div>
          </div>
          <div class="wd-wrap">
              <div class="wd-form__wrp">
              <label class="wd-form__label">
              </label>
                <span>Don't have an account?
                  <router-link to="/register">
                    <a><span>Register</span></a>
                  </router-link>
                </span>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
  </div>
  <!-- end wizard -->
</form>

