<div>
  <div class="login login-with-news-feed">
    <!-- begin news-feed -->
    <div class="news-feed">
        <div class="news-image" style="background-image: url(../../assets/images/bg.png)"></div>
    </div>
    <!-- end news-feed -->
    <!-- begin right-content -->
    <div class="right-content">
      <!-- begin login-header -->
      <div class="login-header text-center">
        <div class="brand">
          <b>Log In</b>
        </div>
      </div>
      <!-- end login-header -->
      <!-- begin login-content -->
      <div class="login-content">
        <div class="alert alert-danger" v-if="!!error.response">
          {{ error.response }}
        </div>
        <form action="/" @submit.prevent="login">
          <div class="wd-wrap">
            <div class="wd-form__wrapper">
              <div class="wd-form__wrp">
                <input
                  type="text"
                  placeholder="Username*"
                  v-model="userData.username"
                  @keydown="error.username = false"
                  class="wd-form__input"
                  :class="{'input-error m-b-5': !!error.username}"
                />
              </div>
              <p class="invalid-feedback m-b-20 m-l-20" v-if="error.username">
                {{ error.username }}
              </p>
              <div class="wd-form__wrp">
                <input
                  type="password"
                  placeholder="Password*"
                  v-model="userData.password"
                  @keydown="error.password = false"
                  class="wd-form__input"
                  :class="{'input-error m-b-5': !!error.password}"
                />
              </div>
              <p class="invalid-feedback m-b-20 m-l-20" v-if="error.password">
                {{ error.password }}
              </p>
              <div class="wd-form__wrp m-b-10">
                <button type="submit" class="btn btn-default btn-login sw-btn-next wd-btn-next" :disabled="isBusy">
                  Login
                  <i class="fa fa-spinner fa-spin" v-if="isBusy"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="wd-wrap">
            <div class="wd-form__wrp">
              <span class="center-desc">Don't have an account?
                <router-link to="/register">
                  <a><span>Register</span></a>
                </router-link>
              </span>
            </div>
            <div class="wd-form__wrp">
              <span class="center-desc">
                Forgot password? Click
                <router-link to="/forgot-password">
                  <a><span>here</span></a>
                </router-link>
                to reset.
              </span>
            </div>
          </div>
        </form>
      </div>
      <!-- end login-content -->
    </div>
    <!-- end right-container -->
  </div>
  <!-- end login -->
  
  <!-- Footer -->
  <mainfooter></mainfooter>
  <!-- End Footer -->
</div>
