.login.login-with-news-feed .news-feed {
  right: 0px;
}

.login.login-with-news-feed .news-image {
  background-color: black;
}

.login.login-with-news-feed .right-content {
  position: absolute;
  right: 110px;
  background-color: white;
  border-radius: 10px;
}
.login {
  .login-header {
    padding-top: 60px !important;
    width: inherit;
  }
  .invalid-feedback {
    display: block;
  }
  .brand b {
    font-size: 32px;
    color: #327FA3;
  }
  .btn-login {
    margin: 0 auto;
  }
  .center-desc {
    margin: 0 auto;
    color: #707478;
  }
}

.login.login-with-news-feed, .register.register-with-news-feed {
  position: relative;
  height: 95vh;
}