.login.login-with-news-feed .news-feed {
  right: 0px;
}

.login.login-with-news-feed .news-image {
  background-position-x: -450px;
  background-color: black;
}

.login.login-with-news-feed .right-content {
  position: absolute;
  top: 90px;
  right: 150px;
  background-color: white;
  border-radius: 10px;
}
.login {
  .invalid-feedback {
    display: block;
  }
}
