.row { margin-left: 0px; margin-right: 0px; }
.col-12 { padding: 0px; }
.float-right { float: right; }
.no-padding { padding-left: 0px; padding-right: 0px; margin-bottom: 8px; }
.btn-group .btn { background-color: white; }
.table-above, .table-below { padding: 0px 0px; }
.table-container { overflow-x: auto; }
label{ font-weight: normal; }
.record-count { width: 60px; margin-right: 10px; }
.input-search { margin-left: 10px; }
table thead th { white-space: nowrap; }
table th .fa { cursor: pointer; }
table tbody tr:hover { cursor: pointer; }
